section > .subbagian {
	margin: 10px;
}

.matkul-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.nama-matkul-container {
	position: relative;
	display: inline-block;
}

.nama-matkul {
	background-color: #D0D0D0;
	margin: 10px;
	padding: 5px;
	font-size: 20px;
}

.dropdown-pilihan {
	all: unset;
	display: none;
	position: absolute;
	background-color: black;
	margin-left: 10px;
	margin-top: -10px;
	z-index: 1;
}

.dropdown-isi {
	all: unset;
	display: block;
	background-color: black;
	margin: 10px;
	color: white;
	font-size: 12px;
}

.nama-matkul:hover + .dropdown-pilihan {
	display: block;
}

.dropdown-pilihan:hover {
	display: block;
}

.tambah-matkul-btn {
	all: unset;
	background-color: #D0D0D0;
	margin: 10px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	font-size: 15px;
}

.tambah-matkul-btn * {
	margin: 5px;
}