a, button, ul {
	all: unset;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
	background-color: #FFF500;
	font-family: 'Rubik', sans-serif;
	margin: 0px;
}

a {
	color: black;
	cursor: pointer;
}

.navigasi {
	background-color: #F4F4F4;
}

.navigasi-container {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	text-align: center;
}

.navigasi-container > * {
	float: left;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.ikon-web {
	padding: 10px;
	padding-right: 0px;
	font-size: 18px;
}

.navigasi-item {
	all: unset;
	padding: 10px;
	font-size: 15px;
}

.navigasi-item:hover {
	background-color: #D0D0D0;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.bagian-kiri {
	float: left;
	width: 60%;
}

.bagian-kanan {
	float: left;
	width: 40%;
}

.bagian-kiri > div {
	margin: 10px;
	width: auto;
}

.bagian-kanan > div {
	margin: 10px;
	width: auto;
}

.subbagian {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: white;
	width: auto;
}

.nama-subbagian {
	font-weight: 500;
	font-size: 15px;
	margin: 10px;
}

.wrapper-isi > div {
	background-color: #F4F4F4;
}

.teks-isi {
	font-size: 12px;
	padding: 10px;
}

.foto-sampul {
	width: 100%;
	height: 200px;
	display: block;
	object-fit: cover;
}

.nama-profil {
	height: 66px;
	margin: 10px;
	
	position: absolute;
	z-index: 1;
	bottom: 0;
	
	display: flex;
	align-items: flex-end;
}

.foto-profil {
	float: left;
	width: 60px;
	height: 60px;
	border: 3px solid white;
}

.profil-singkat {
	float: left;
	margin-left: 10px;
	bottom: 0;
}

.nama-pengalaman {
	text-align: center;
	font-size: 20px;
	padding: 10px;
}

.daftar-pengalaman {
	display: flex;
	flex-wrap: wrap;
}

.pengalaman {
	width: calc(50% - 20px);
	margin: 10px;
	margin-bottom: 0px;
	background-color: white;
	-moz-box-shadow: inset 0 0 0 1px black;
    -webkit-box-shadow: inset 0 0 0 1px black;
    box-shadow: inset 0 0 0 1px black;
}

.pengalaman img {
	float: left;
	width: 60px;
	height: 60px;
	margin: 10px;
}

.nav-pengalaman-btn {
	background-color: #D0D0D0;
	margin: 10px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.nav-pengalaman-btn * {
	margin: 5px;
}

.nav-pengalaman-btn.prev {
	float: left;
}

.nav-pengalaman-btn.next {
	float: right;
}

.clip-koneksi {
	width: 60px;
	height: 60px;
	margin: 10px;
	object-fit: cover;
	clip-path: circle(30px at center);
}

.ikon-kontak {
	width: 60px;
	height: 60px;
	margin: 10px;
	object-fit: cover;
}