{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="icon" href="{% static 'img/Bell_TeamIcon.png' %}">
		{% block meta %}
		{% endblock meta %}
	</head>
	<body>
		<div id="outer-container">
			<header class="navigasi">
			  <div class="navigasi-container">
				<div>
					<a class="ikon-web" href="/">Sheradhien's Web</a>
				</div>
				<ul class="daftar-navigasi">
					<li class="navigasi-item"><a href="/profil">Profil</a></li>
					<li class="navigasi-item"><a href="/story_1">Story 1</a></li>
					<li class="navigasi-item"><a href="/kuliah">Kuliah</a></li>
				</ul>
			  </div>
			</header>
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>
