{% extends 'base.html' %}
{% load static %}

{% block meta %}
<style>
	section > .subbagian {
		margin: 10px;
	}
	
	detail_container {
		display: flex;
		justify-content: center;
	}
</style>
{% endblock %}

{% block content %}
<section>
	<div class="subbagian detail_container">
		<table>
			<tr>
				<td>Nama Mata Kuliah</td>
				<td>:</td>
				<td> {{ matkul.nama_matkul }} </td>
			</tr>
			<tr>
				<td>Nama Dosen</td>
				<td>:</td>
				<td> {{ matkul.nama_dosen }} </td>
			</tr>
			<tr>
				<td>Jumlah SKS</td>
				<td>:</td>
				<td> {{ matkul.jumlah_sks }} </td>
			</tr>
			<tr>
				<td>Deskripsi</td>
				<td>:</td>
				<td> {{ matkul.deskripsi }} </td>
			</tr>
			<tr>
				<td>Semeter - Tahun</td>
				<td>:</td>
				<td> {{ matkul.semester }} - {{ matkul.tahun }} </td>
			</tr>
			<tr>
				<td>Ruang Kelas</td>
				<td>:</td>
				<td> {{ matkul.ruang_kelas }} </td>
			</tr>
		</table>
	</div>
</section>
{% endblock %}