{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>Selamat datang!</title>
	<style>
		body,
		html {
			height: 100%;
			margin: 0;
		}
		
		body > #outer-container {
			width: 100%;
			height: 100%;
			
			display: flex;
			flex-flow: column;
		}
		
		.halaman-depan {
			display: flex;
			flex-grow: 1;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="halaman-depan">
		<div class="teks-tengah">
			<h2>Welcome to</h2>
			<h1>Sheradhien's Web</h1>
		</div>
	</div>
{% endblock %}