{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<link rel="stylesheet" href="{% static 'css/kuliah_style.css' %}">
{% endblock %}

{% block content %}
	<section>
		<div class="subbagian">
			<div class="nama-subbagian">Mata Kuliah</div>
			<div class="wrapper-isi">
				<div class="matkul-container">
					{% for matkul in matkul_db %}
					<div class="nama-matkul-container">
						<button class="nama-matkul">{{ matkul.nama_matkul }}</button>
						<div class="dropdown-pilihan">
							<form action="detail_matkul" method="GET">
								<input id="id_matkul" type="number" name="id_matkul" value="{{ matkul.id }}" hidden>
								<input class="dropdown-isi" type="submit" value="Detail">
							</form>
							<form action="hapus_matkul" method="POST">
								{% csrf_token %}
								<input id="id_matkul" type="number" name="id_matkul" value="{{ matkul.id }}" hidden>
								<input class="dropdown-isi" type="submit" value="Hapus">
							</form>
						</div>
					</div>
					{% endfor %}
				</div>
				<div>
					<form style="padding: 10px;" action="tambah_matkul" method="POST">
						{% csrf_token %}
						<table>
						{{ input_matkul.as_table }}
						</table>
						<input class="tambah-matkul-btn" type="submit" value="Tambah Mata Kuliah">
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}