{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>Sheradhien's Web</title>
{% endblock meta %}

{% block content %}
	<section>
		<div class="bagian-kiri">
			<div class="subbagian">
				<img class="foto-sampul" src="{% static 'img/Merbabu.jpg' %}">
				<div class="nama-profil">
					<img class="foto-profil" src="{% static 'img/Profil.png' %}">
					<div class="profil-singkat">
						<div style="font-size: 20px; font-weight: bold;">Dewangga Putra Sheradhien</div>
						<div style="font-size: 15px;">Universitas Indonesia</div>
					</div>
				</div>
			</div>
			<div class="subbagian">
				<div class="nama-subbagian">Tentang</div>
				<div class="wrapper-isi">
					<div class="teks-isi">Saya adalah seorang mahasiswa di Fakultas Ilmu Komputer, Universitas Indonesia.</div>
				</div>
			</div>
			<div class="subbagian">
				<div class="nama-subbagian">Pengalaman</div>
				<div class="wrapper-isi">
					<div class="nama-pengalaman">Pendidikan</div>
					<div class="daftar-pengalaman">
						{% for sekolah in pendidikan %}
						<div class="pengalaman">
							<img src="{% static sekolah.gambar %}">
							<div style="float: left; margin: 10px;">
								<div style="font-weight: 500; font-size: 15px;">{{ sekolah.nama }}</div>
								<div style="font-size: 12px;">{{ sekolah.waktu }}</div>
								<div style="font-style: italic; font-weight: 300; font-size: 11px;">{{ sekolah.deskripsi }}</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div style="overflow: hidden;">
						<button class="nav-pengalaman-btn prev">
							<img src="{% static 'img/ArrowLeft.png' %}"">
							<div>Hobi</div>
						</button>
						<button class="nav-pengalaman-btn next">
							<div>Kunjungan</div>
							<img src="{% static 'img/ArrowRight.png' %}">
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="bagian-kanan">
			<div class="subbagian">
				<div class="nama-subbagian">Koneksi</div>
				<div class="wrapper-isi">
					<div class="flex-container">
						{% for orang in koneksi %}
						<img class="clip-koneksi" src="{% static orang.foto %}" alt="{{ orang.nama }}">
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="subbagian">
				<div class="nama-subbagian">Media Sosial</div>
				<div class="wrapper-isi">
					<div class="flex-container">
						{% for medsos in kontak %}
						<a href="https://www.{{ medsos.link }}">
							<img class="ikon-kontak" src="{% static medsos.gambar %}" alt="{{ medsos.nama }}">
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}